
/ {
	leds {
		customled: custom-led {
			gpios = <&gpio0 29 0>;
			label = "Custom LED";
		};
	};

	aliases {
		customled = &customled;
		custombutton = &custombutton;
		temp = &{/soc/i2c@40004000/sht22@40/};
	};

	buttons {
		compatible = "gpio-keys";
		custombutton: custom-button {
			gpios = <&gpio0 28 GPIO_PULL_DOWN>;
			label = "custom Button";		
		};
		debounce-interval-ms = <5000>;
	};
};

&i2c1 {
	// status = "okay";
	sht22@40 {
		compatible = "sensirion,sht22";
		reg = <0x40>;
		status = "okay";
	};
};

